///********* logo */
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

///********* search */
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond (miniphone){

        flex: 0 0 30%;

    }
    &__input {
        font-family: inherit;
        font-size: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        margin-right: -3.5rem;
        transition: all .2s;
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }
    }
    &__button {
        border: none;
        background-color: var(--color-grey-light-2);
        &:focus {
            outline: none;
        }
        &:active {
            transform: translateY(2px);
        }
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill: rgb(99, 98, 98);

        
    }
}

///********* user navigation */
.user-nav {
    display: flex;
    align-self: stretch;
    align-items: center; //user-nav select all direct chidren * means all > means direct child
    &>* {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &>*:hover {
        background-color: var(--color-grey-light-2);
    }
    &__icon-box {
        position: relative;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }
    &__notification {
        font-size: 1rem;
        padding: .7rem;
        height: 1rem;
        width: 1rem;
        background-color: var(--color-Primary);
        border-radius: 50%;
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
    &__user-name {
        font-family: inherit;
        text-transform: capitalize;
        color: inherit;
    }
}

///********* sidebar  */
.nav-sidebar {}

.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

        

        @include respond (tabs){
            margin-top: 0; 
            display: flex;
            align-items: center;
        }
    


    &__item {

        @include respond (tabs){

        flex:1;
        
        }


    }
    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;

        @include respond (tabs){

            flex:1;
            justify-content: center;
            
            }


            @include respond (phone){

                flex-direction: column;
                

            }

    }
    &__link:hover,
    &__link:active {
        background-color: var(--color-primary-dark);
    }
    &__icon {
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;

        @include respond(phone){
            margin-right: 0;
        }



    }
    
    
}


.menutext{

    @media only screen and (max-width:28.5em) {
        font-size: 9px;

    }

    @media only screen and (max-width:25em) {
        font-size: 7px;

    }
    


}

///********* legal  */
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-2);

    @include respond (tabs){
        display:none;
    }
}


///********* gallery top  */
.gallery {
    display: flex;
    &__item {}
    &__photo {
        width: 100%;
        display: block;
    }
}

///********* overview hotel with stars and votes  */
.overview {

    display: flex;
    box-shadow: 0 .2rem .3rem rgba( rgb(211, 210, 210), .1);
    align-items: center;
    justify-content: space-between;

    &__1flex{
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include respond(miniphone){
        flex-direction: column;
    }
        
    

    }

    &__heading {
        font-family: inherit;
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1px;  
        padding-left: 3rem;

        @include respond (miniphone){
            font-size: 1.5rem;
            letter-spacing: .5px;  
            padding-left: 1rem;

        }
        
      }
                

    &__stars {display: flex;
        align-items: center;
        padding-left: 3rem;
        @include respond (miniphone){
            padding-left:0;

        }

        }
    &__icon-star,&__icon-location {

        width:2rem;
        height: 2rem;
        fill: var(--color-primary-dark);
        align-self: center;


    }
    &__location {
        display: flex;
        align-items: center;
        padding-right: 3rem;
        
    }
    &__icon-location {}

    &__flex{
        
         display: flex;
        justify-content: flex-end;
    }

    &__rating {

        background-color: var(--color-primary-dark);
        display: inline-block;
        color: #fff;
        padding:.5rem 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    &__rating-average {

        font-size:3rem;

        @include respond(miniphone){
            font-size:2rem;

        }

    }
    &__rating-count {
        text-align: center;

    }
}

.btn-inline {
    border: none;
    color: var(--color-primary-dark);
    background-color: transparent;
    text-transform: capitalize;
    font-family: inherit;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left:3px;
        transition: margin-left .3s;
    }

    &:hover{

        color:black;

        span{

            margin-left:8px;  
        }

    }


    &:focus{

        outline: none;
        animation: pulsate 1s infinite;
    }
}


///********* animation via keyframe for button */

@keyframes pulsate{

0%{
transform: scale(1);
box-shadow:none;
}

50%{

    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);

}

100%{
    transform: scale(1);
    box-shadow:none;


}
}
///********* paragraph */

.paragraph:first-child{

margin-bottom: 2rem;

@include respond (miniphone){

    margin-top:1rem;
    
    

}


}



///********* list */

.list{

    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    

    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
        
    }

   

}


.small-right{

    width:2rem;
    height: 2rem;
    fill: var(--color-primary-dark);
    line-height: 0;
    padding-top: .8rem;

}


///********* recommend */

.recommend{

    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;
   


    &__count{

        margin-right: auto;
    }

    &__friends{
      
        display: flex;
    }

    &__photo{
        box-sizing: content-box;
        height: 3.8rem;
        width: 3.8rem;
        border-radius: 50%;
        border: 3px solid #fff;
       

        &:not(:last-child){
            margin-right: -1.5rem;
        }

    }
}


///********* Reviews */

.review{

    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .25);
    padding: 3rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;

    @include respond(tabs){
        padding: 2rem;


    }

&__text{

    text-align:left;
    position: relative;
    z-index: 1;


}

&__user{

    display: flex;
margin-top: 1rem;
align-items: center;

}


&__photo{

    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right:1.2rem;


}

&__user-name{

font-weight: bold;

}

&__user-box{



}

&__user-date{

    font-size: 1rem;

}


&__rating{

margin-left:auto;
color:var(--color-primary-dark);
font-size: 2rem;

}


&::before{

    content: "\201C";
    position: absolute;
    top: -7.5rem;
    left: -1rem;
    font-family: sans-serif;
    font-size: 18rem;
    
    z-index: 1;
    color:#F4F2F2;


}



}



///********* CTA area */

.cta{

    padding: 3.5rem 0;
    text-align: center;
&__book-now{

    

    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

}

}



//button bottom rollover text 
.btn{

    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    
    background-image: linear-gradient(to right, rgba(#FF3366,1),rgba(#BA265D,1) ) ;
    color: #fff;
    
    position: relative;
    overflow: hidden;
   
    & > *{
        display: inline-block;
        width: 100%;
        height:100%;    
        transition: all .2s; 
    }

    &__visible{

        
        padding: 2rem 7.5rem;
        
        
        
       
    }

    &__invisible{

         padding: 2rem 0; 
    

        position: absolute;
        
        left: 0;
        top: -100%; //this will push the element top of the element
        
            }
   

            &:hover{
                background-image: linear-gradient(to left, rgba(#FF3366,1),rgba(#BA265D,1) ) ;

            }

           &:hover &__visible{
            transform: translateY(100%);

           } 


           &:hover &__invisible{
            top: 0;
            
        } 

        &:focus{

            outline: none;
            animation: pulsate 1s infinite;
        }



}
